.blog-article-content
  
  &__title
  &__date
    margin: 4px false
  
  &__date
    text: italic $color__grey false 1
    
  &__title
    text: medium 24px 28px
    height: (28px * 2)
    overflow: hidden
    
    a
      link: black