.input
  display: inline-block 40px false
  text: 16px 20px
  border: #c5c5c5
  padding: 10px false
  
  &--company
  &--phone
  &--email
  &--name
  &--note
    background: 11px 11px
    padding-left: 40px
      
  &--company
    background: url('img/case.png')
    
  &--phone
    background: url('img/call.png')
    
  &--email
    background: url('img/letter.png')
    
  &--name
    background: url('img/person.png')
    
  &--note
    background: url('img/pen.png')