.top-article
  text: $color__white
  text: 16px 24px
    
  &__list
    list-style: none
    padding: 0px
    margin: 0px
    
    li:before
      margin-right: 8px
      content: '–'
    
  &--primary
    text-shadow: 0px 1px 8px rgba($color__blue--dark, .49)
    text: 24px 38px
    
    .top-article__title
      background: url('img/border.png') left bottom
      padding-bottom: 40px
      margin-bottom: 20px
      text: 45px 52px
      
  &--icon
    padding: 0px 10px 0px 100px
    background: left top
