.top-lead
  background: center cover url('img/top-lead-bg.jpg')
  height: 430px
  
  &__inner
    position: relative
  
  &__main
    position: top left
    padding-top: 60px
    width: 710px
    
  &__aside
    position: top right
    size: 480px 430px