.top-menu
  box-shadow: 0px 2px 5px 0px rgba($color__blue--dark, 0.74)
  background: $color__blue--gradient
  
  .menu
    flex-box: space-between false center
    
    &__item
      padding-top: 22px
      height: 67px
      text: center
      flex: auto
      
      &.active
        background: $color__white
        
        .menu__title
          border-bottom: $color__yellow 2px
          text: $color__yellow
          padding-bottom: 4px
      
    &__title
      text: bold 20px 1
      display: inline-block
      link: white
      