.top-cart
  background: center url('img/top-cart.png')
  display: block 80px 46px
  position: relative
  border: $color__blue
  
  &__value
    text: center $color__white 12px 22px
    position: -11px false false -11px
    background: $color__yellow
    display: block 22px
    border: false 22px