.top-search
  display: block 260px 46px
  position: relative
  
  &__submit
  &__input
    border: $color__blue
  
  &__input
    padding: 0px 54px 0px 8px
    display: block 100%
    position: top left
    
  &__submit
    background: $color__white url('img/blue-search.png') center
    display: block 46px
    position: top right
