.footer
  text: $color__white 14px 16px
  padding: 70px false 40px
  
  a
    link: white
    
  p
    margin: 16px false
    
  &__item
    padding-right: 20px
    
    &:last-child
      padding-right: 0px
    
    &--short
      max-width: 210px
      
    &--shift
      position: relative
      left: -30px
      
      .heading
        position: relative
        left: 30px
        
    &--t-shift
      position: relative
      top: -16px