.footer-menu
  
  .menu
    flex-box: column wrap flex-start
    size: 340px 85px
  
  .menu__item
    padding-left: 20px
    padding-top: 16px
    max-width: 180px
    
    &:nth-child(1)
    &:nth-child(2)
    &:nth-child(3)
      padding-left: 0px
      
    &:nth-child(1)
    &:nth-child(4)
      padding-top: 0px
    
  &--primary
    text: 12px
    
    .menu
      size: 360px 240px
      
    .menu__title
      background: url('img/v-border.png') repeat-y left top
      display: inline-block
      padding-left: 20px
      