.contacts-article
  padding: 120px false 30px
  
  .heading
    margin-bottom: 40px
  
  &__main
    width: 400px
    
  &__form
    box-shadow: 0px 2px 3px rgba($color__blue--dark, .48)
    background: $color__blue--light
    border: $color__grey--light
    padding: 30px 40px 45px
    width: 780px