.blue-bg
  background: linear-gradient(to top, #0c7bc9, #1cb7d0)
  
  &:before
    background: url('img/top-grid-bg.png') repeat
    display: block ''
    position: 0px
    
  & > .container
    position: relative