.contact
  background: left center
  display: block
  
  &--dark
    text: medium 16px 23px
    padding-left: 40px
    link: black
  
    &.contact--phone
      background: url('img/blue-phone.png')
  
    &.contact--email
      background: url('img/blue-email.png')