.contact
  background: left center
  display: block
  
  &--dark
    text: medium $color__black 16px 23px
    padding-left: 40px
    
    &:hover
      text: $color__yellow
  
    &.contact--phone
      background: url('img/blue-phone.png')
  
    &.contact--email
      background: url('img/blue-email.png')