// Блок макета страницы.
.global
  position: relative
  min-height: 100%
  width: 100%
  
  &__content
    padding-bottom: $footer__height
    
  &__footer
    size: 100% $footer__height
    position: bottom