.heading
  text: medium 24px 1
  
  &--primary
    background: left 30px url('img/lightning.png')
    padding-left: 35px
    margin: 30px false
    text: 36px 40px
    padding-top: 30px
    
  &--footer-logo
    background: url('img/bottom-logo.png') left center
    text: 0px
    min-width: 180px
    height: 54px