// Сброс стилей стандартных элементов.
*, *:before, *:after
  box-sizing: border-box
  
*:focus
  outline: none
  
html, body
  padding: 0px
  margin: 0px
  width: 100%
  
html
  height: 100%

body
  text: $color__black $text__size 1.25
  font-family: 'Roboto', 'sans'