// Сброс стилей стандартных элементов.
*, *:before, *:after
  box-sizing: border-box
  
*:focus
  outline: none
  
html, body
  padding: 0px
  margin: 0px
  width: 100%
  
html
  height: 100%

body
  text: $color__black $text__size 1.63
  font-family: 'Roboto', 'sans'
  
a
  transition: all .25s ease-in-out
  text: none $color__blue
  
p, h1, h2, h3, h4, h5, h6, ul, ol, dl, table
  
  &:first-child
    margin-top: 0px !important
    
  &:last-child
    margin-bottom: 0px !important
    
p, ul, ol, dl, table
  margin: 26px false
  
  
textarea
button
input
  font-family: inherit
  
textarea
  resize: vertical