// Список переменных макета.

$color__white = #fff
$color__white--fade = #feffff
$color__black = #363636
$color__yellow = #ffc800
$color__grey = #777777
$color__grey--light = #ececec
$color__blue = #1cb7d0
$color__blue--dark = #184f6b
$color__blue--light = #eaf8ff
$color__blue--gradient = linear-gradient(to top, #0c7bc9, #1cb7d0)

$top__height = 109px
$top-menu__height = 67px

$footer__height = 400px

$text__size = 16px