// Список переменных макета.

$color__white = #fff
$color__white--fade = #feffff
$color__black = #363636
$color__yellow = #ffc800
$color__grey = #777777
$color__blue = #1cb7d0
$color__blue--dark = #184f6b

$footer__height = 340px